.paragrafoSobre>h2 {
    /* border: 1px solid red; */
    font-family: var(--fonte-primaria);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin: 3rem 0;
}

.paragrafoSobre>p {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.4rem;
    text-align: justify;
    text-align: center;
    background-color: var(--cor-azul-primaria);
    padding: 1.2rem;
    /* margin: 1.8rem 0; */
    color: var(--cor-cinza);
}