@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-size: 62.5%;
  --cor-azul-primaria: #222673;
  --cor-vermelha-primaria: #BF2626;
  --cor-azul-secundaria: #020873;
  --cor-vermelha-secundaria: #D98282;
  --cor-branca: #F2F2F2;
  --cor-cinza: #cccccc;
  --cor-preta: #0d0d0d;
  --fonte-primaria: "Montserrat", sans-serif;
  --fonte-secundaria: "Roboto", sans-serif;
}

.destinosHome {
  /* border: 1px solid red; */
  font-family: var(--fonte-primaria);
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  margin: 3rem 0;
}

.destinosMaisProcurados {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 8rem 3rem;
}



/* ------------------ */
/* .destinosMaisProcurados {
    position: relative;
}

.destinosMaisProcurados > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    dis
} */

.slider-container {
  text-align: center;
  padding-inline: 5%;

  position: relative;
  overflow: hidden;
}

.slider-container-up {
  display: flex;
  align-items: center;
}

.destinosMaisProcurados {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0rem 3rem;
}

.slider-wrapper {
  /* background-color: yellow; */
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 8rem;
}

.slider {
  /* border: 1px solid red; */
  /* background-color: green; */
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
  padding: 1rem 0;
}


.destinosMaisProcurados .botoesDestinosMaisProcurado {
  border: 1px solid red;
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 8rem;
}

.botoesDestinosMaisProcurado>button {
  /* border: 1px solid red; */
  border-radius: 50%;
  background-color: var(--cor-azul-secundaria);
  font-family: var(--fonte-secundaria);
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
  color: var(--cor-branca);
  cursor: pointer;
}

.botoesDestinosMaisProcurado>button:hover {
  background-color: var(--cor-vermelha-primaria);
  transition: ease-in-out 0.4s;
}

.pontinhosDestinosMaisProcurado {
  /* border: 1px solid red; */
  position: relative;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  justify-content: center;
}

.pontinhosDestinosMaisProcurado li {
  cursor: pointer;
  font-size: 2.2rem;
  margin: 0 0.5rem;
}

.pontinhosDestinosMaisProcurado .ativo {
  color: var(--cor-vermelha-primaria);
}
