@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 62.5%;
    --cor-azul-primaria: #222673;
    --cor-vermelha-primaria: #BF2626;
    --cor-azul-secundaria: #020873;
    --cor-vermelha-secundaria: #D98282;
    --cor-branca: #F2F2F2;
    --cor-cinza: #cccccc;
    --cor-preta: #0d0d0d;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

.textoSobre {
    /* border: 1px solid red; */
    display: flex;
    margin: 0 8rem;
}

/* .chamadaSobre >  :nth-child(2),
.textoSobre> :nth-child(4),
.textoSobre> :nth-child(6),
.textoSobre> :nth-child(8) {
    display: flex;
    flex-direction: row;
} */

/* .chamadaSobre > :nth-child(even) {
    display: flex;
    flex-direction: row;
} */

/* .textoSobre.par .chamadaSobre {
    display: flex;
    flex-direction: row-reverse;
}

.textoSobre.impar .chamadaSobre {
    display: flex;
    flex-direction: row; 
} */

.chamadaSobre {
    /* border: 1px solid red; */
    /* border: 0.1rem solid var(--cor-azul-secundaria); */
    border-radius: 1rem;
    background-color: var(--cor-cinza);
    display: flex;
    flex-direction: row-reverse;
    /* gap: 10rem; */
    margin: 4rem;
    padding: 3rem;
    box-shadow: 0.2rem 0.2rem 1rem var(--cor-preta);
}

.chamadaSobre>img {
    width: 50rem;
    /* height: 30rem; */
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.4rem var(--cor-preta);
    object-fit: cover;
}

.chamadaSobre>div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.chamadaSobre>div>h3 {
    font-family: var(--fonte-primaria);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem;
}

.chamadaSobre>div>p {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    font-weight: 300;
    text-align: justify;
    text-indent: 2rem;
    margin: 1.8rem 0;
    line-height: 2.8rem;
}

.chamadaSobre>div>p>strong {
    color: var(--cor-vermelha-primaria);
}
