.destinosHome {
    /* border: 1px solid red; */
    font-family: var(--fonte-primaria);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin: 3rem 0;
}

.destinosMaisProcurados{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 8rem 3rem;
}

.infoCardDestinosMaisProcurado {
    border: 1px solid red;
    padding: 2rem;
}

.NomeCardDestinoMaisProcurado {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1rem;
    text-align: center;
}

.cidadeCardDestinoMaisProcurado {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.tipoAtrativoCardDestinoMaisProcurado {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    margin: 1rem;
    padding: 0.2rem 1rem;
    background-color: var(--cor-vermelha-primaria);
    color: var(--cor-branca);
    border-radius: 0.8rem;
}

.cardDestinosMaisProcurados {
    margin: auto;
}

.imagemCardDestinoMaisProcurado {
    width: 30rem;
    /* height: 56rem; */
    background: no-repeat center;
    background-size: contain;
}

/* ------------------ */
.destinosMaisProcurados {
    position: relative;
}

.destinosMaisProcurados > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    dis
}