@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 62.5%;
    --cor-azul-primaria: #222673;
    --cor-vermelha-primaria: #BF2626;
    --cor-azul-secundaria: #020873;
    --cor-vermelha-secundaria: #D98282;
    --cor-branca: #F2F2F2;
    --cor-cinza: #cccccc;
    --cor-preta: #0d0d0d;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.barraDeNavegacao {
    width: 100%;
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #8080803b;
    padding: 0.4rem 8rem 0.4rem 8rem;
    box-shadow: 0.3rem 0.3rem 0.5rem #0000001c;
    /* position: -webkit-sticky; */
    position: fixed;
    top: 0;
    /* z-index: 1000; */
}

.logoComTexto {
    /* border: 1px solid red; */
    width: 30rem;
    margin: 1.2rem 0;
}

.navMenu {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    color: var(--cor-preta);
    gap: 1.6rem;
}

.botaoContato {
    /* border: 1px solid red; */
    background-color: var(--cor-vermelha-primaria);
    color: var(--cor-branca);
    padding: 0.8rem 1rem;
    border-radius: 2rem;
}

main {
    margin-top: 9rem;
}

.banner {
    width: 100%;
    height: 56rem;
    background: url(../assets/img/banner.png) no-repeat center;
    background-size: cover;
}

.banner > h1, .bannerSobre > h1 {
    /* border: 1px solid red; */
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 4rem;
    color: var(--cor-branca);
    text-shadow: 0.2rem 0.2rem 0.6rem var(--cor-preta);
    text-align: center;
    padding: 24rem 0;
}

.textoSobre {
    /* border: 1px solid red; */
    margin: 0 8rem;
}

.textoSobre > :nth-child(2), .textoSobre > :nth-child(4), .textoSobre > :nth-child(6), .textoSobre > :nth-child(8) {
    display: flex;
    flex-direction: row;
}

.paragrafoInicialSobre > h2 {
    /* border: 1px solid red; */
    font-family: var(--fonte-primaria);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin: 3rem 0;
}

.paragrafoInicialSobre > p {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.2rem;
    text-align: justify;
    text-align: center;
    background-color: var(--cor-azul-primaria);
    padding: 1.2rem;
    color: var(--cor-cinza);
}

/* .paragrafoInicialSobre > p, .paragrafoFinalSobre > p {
    border: 1px solid red;
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    text-align: justify;
    text-align: center;
    text-indent: 2rem;
    margin: 1.8rem 0;
    line-height: 2.2rem;
} */

.chamadaSobre {
    /* border: 1px solid red; */
    /* border: 0.1rem solid var(--cor-azul-secundaria); */
    border-radius: 1rem;
    background-color: var(--cor-cinza);
    display: flex;
    flex-direction: row-reverse;
    /* gap: 10rem; */
    margin: 5rem;
    padding: 3rem;
    box-shadow: 0.2rem 0.2rem 1rem var(--cor-preta);
}

.chamadaSobre > img {
    width: 50rem;
    /* height: 30rem; */
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.4rem var(--cor-preta);
}

.chamadaSobre > div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.chamadaSobre > div > h3 {
    font-family: var(--fonte-primaria);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem;
}

.chamadaSobre > div > p {
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    font-weight: 300;
    text-align: justify;
    text-indent: 2rem;
    margin: 1.8rem 0;
    line-height: 2.8rem;
}

.chamadaSobre > div > p > strong {
    color: var(--cor-vermelha-primaria);
}

.paragrafoFinalSobre > p {
    font-family: var(--fonte-secundaria);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
    text-align: justify;
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--cor-azul-primaria);
    padding: 1.2rem;
    color: var(--cor-cinza);
}

.secaoContato {
    /* border: 1px solid red; */
    background-color: var(--cor-azul-primaria);
    color: var(--cor-cinza);
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.secaoContato .contato, .secaoContato .servicos{
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.secaoContato .contato > h3, .secaoContato .servicos > h3, .secaoContato .formasDePagamento > h3 {
    font-family: var(--fonte-primaria);
    color: var(--cor-cinza);
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}

.secaoContato .contato > p, .secaoContato .servicos > p {
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.fa-envelope, .fa-phone, .fa-square-whatsapp {
    /* border: 1px solid red; */
    font-size: 1.8rem;
    color: var(--cor-cinza);
    margin: 0 0.6rem 0 0;
}

.secaoContato .formasDePagamento > div {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.8rem;
    /* flex-direction: column; */
}

.secaoContato .formasDePagamento div > img {
    /* border: 1px solid red; */
    width: 4.4rem;
    height: 3.3rem;
    border-radius: 0.4rem;
}

.rodape {
    /* border: 1px solid red; */
    background-color: var(--cor-azul-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    color: var(--cor-cinza);
    padding: 1.2rem 0;
}

.linkLinkedIn:hover, .secaoContato .servicos > p:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--cor-vermelha-primaria);
}

.bannerSobre {
    width: 100%;
    height: 56rem;
    background: url(../assets/img/slz.png) no-repeat center;
    background-size: cover;
}

