@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 62.5%;
    --cor-azul-primaria: #222673;
    --cor-vermelha-primaria: #BF2626;
    --cor-azul-secundaria: #020873;
    --cor-vermelha-secundaria: #D98282;
    --cor-branca: #F2F2F2;
    --cor-cinza: #cccccc;
    --cor-preta: #0d0d0d;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.barraDeNavegacao {
    /* border: 1px solid red; */
    width: 100%;
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #8080803b;
    padding: 0.4rem 8rem 0.4rem 8rem;
    box-shadow: 0.3rem 0.3rem 0.5rem #0000001c;
    /* position: -webkit-sticky; */
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logoComTexto {
    /* border: 1px solid red; */
    width: 30rem;
    margin: 1.2rem 0;
}

.navMenu {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    color: var(--cor-preta);
    gap: 1.6rem;
}

.botaoContato {
    /* border: 1px solid red; */
    background-color: var(--cor-vermelha-primaria);
    color: var(--cor-branca);
    padding: 0.8rem 1rem;
    border-radius: 2rem;
}

button.menuToggle {
    /* border: 1px solid red; */
    padding: 1rem 0 0 0;
}

.menuToggle {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: var(--cor-azul-primaria);
    background: none;
    /* border: none; */
    cursor: pointer;
}

.menuToggle svg:hover {
    color: var(--cor-vermelha-primaria);
    transition: 0.4s ease-in-out;
}

@media (max-width: 834px) {
    .logoComTexto {
        width: 6rem;
        margin: 1.2rem 0;
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .barraDeNavegacao {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .navMenu {
        /* border: 1px solid red; */
        /* display: none; */
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vh;
        height: 90vh;
        background-color: var(--cor-azul-primaria);
        color: var(--cor-branca);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* gap: 1rem; */
        padding: 10rem 0 30rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    
    .navMenu.ativo {
        transform: translateX(0);
    }

    .menuToggle {
        display: block;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .menuToggle.roda {
        transform: rotate(90deg);
    }
}